.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #202020;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 10px;
    font-size: large;
    margin: 10px 0;
}

.content {
    margin-left: 200px;
    margin-top: 7px;
    padding: 1px 16px;
    height: auto;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
        margin: 10px 5px;
    }
    .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}