<header>
    <h1><a href="/">{{ site.title }}</a></h1>
    <div class="row">
        <p class="column">{{ site.description }}</p>
        <p class="column maybe-right">
            {% if page.title != "Archive" %}
              <a href="/archive">Archive</a>
            {% else %}
              Archive
            {% endif %}
            {% if page.title != "Series" %}
              <a href="/series">Series</a>
            {% else %}
              Series
            {% endif %}
            {% if page.title != "Tags" %}
              <a href="/tags">Tags</a>
            {% else %}
              Tags
            {% endif %}
	    <a href="/feed.xml">
		<i class="fa fa-rss-square" style="margin-right:0.2em"></i>Feed
	    </a>
        </p>
    </div>
</header>
