// Dark it out

body {
  background-color: #262626;
  color: white;
}

.card {
  background-color: #333;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--mdb-gutter-x, 0.75rem);
  padding-left: var(--mdb-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 840px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 840px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 840px;
  }
}
.navbar-bg-dark {
  background-color: #262626ea;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.scroll-cursor {
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 0.7rem;
  background-color: #30303060;
  backdrop-filter: blur(8px);
  color: white;
  transition: all ease-in-out 250ms;
  animation: 250ms fadeOut;
  &:hover {
    background-color: $info;
    color: #303030;
  }
}

.transitioning {
  animation: 250ms fadeIn;
  -o-animation: 250ms fadeIn;
  -moz-animation: 250ms fadeIn;
  -webkit-animation: 250ms fadeIn;
}

.leaving {
  visibility: hidden;
  animation: 250ms fadeOut;
  -o-animation: 250ms fadeOut;
  -moz-animation: 250ms fadeOut;
  -webkit-animation: 250ms fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
