div {
  overflow: visible;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #202020;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  padding: 10px;
  font-size: large;
  margin: 10px 0;
}

.content {
  margin-left: 200px;
  margin-top: 7px;
  padding: 1px 16px;
  height: auto;
}

.jbt {
  background-image: url("img/bg_jumbotron.png");
  background-repeat: repeat;
  background-size: 750px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1020;
  }
  .sidebar a {
    float: left;
    margin: 10px 5px;
  }
  .content {
    margin-left: 0;
  }
  .jbt {
    margin-top: 4rem;
  }
  #navb {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .jbt {
    margin-top: 11.5rem;
  }
}

