@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  @apply m-0 box-border scroll-smooth p-0;
}

body {
  @apply bg-nord-light-bg text-nord-light-text dark:bg-nord-dark-bg dark:text-nord-dark-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply sidebar-section border-t font-bold first:rounded-t-md first:border-t-0 last:border-b-0;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4,
h5,
h6 {
  @apply text-base;
}

code {
  @apply break-words text-sm text-nord-light-highlight dark:text-nord-dark-highlight;
}

pre code {
  @apply cust-scb text-token-light-unstyled dark:text-token-dark-unstyled;
}

strong,
b {
  @apply font-bold;
}

ol {
  @apply mx-5 my-3 list-decimal px-5;
}

ul {
  @apply mx-5 my-3 list-disc px-5;
}

p + ol {
  @apply my-0 mb-3;
}

img[alt$="-img"] {
  @apply block h-auto w-full rounded-md md:mx-auto md:max-w-[1080px];
}

blockquote {
  @apply border-l-8 border-l-nord-light-accent bg-nord-light-bg dark:border-l-nord-dark-accent dark:bg-nord-dark-bg;
}

li blockquote {
  @apply mb-2 mt-2 w-fit rounded-md border border-l-8 border-nord-light-borders border-l-nord-light-accent
  bg-nord-light-bg dark:border-nord-dark-borders dark:border-l-nord-dark-accent dark:bg-nord-dark-bg;
}

hr {
  @apply border-[0.5px] border-nord-light-borders dark:border-nord-dark-borders;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply whitespace-pre break-normal bg-none text-left font-mono leading-normal text-token-light-unstyled dark:text-token-dark-unstyled;
  word-spacing: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"],
pre {
  @apply m-5 overflow-auto rounded-md border border-nord-light-borders py-4 px-5 text-sm dark:border-nord-dark-borders;
}

p + pre,
ol + pre,
ul + pre,
p + pre[class*="language-"],
ol + pre[class*="language-"],
ul + pre[class*="language-"] {
  @apply my-3 mx-5;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"],
pre {
  @apply bg-nord-light-bg dark:bg-nord-dark-bg;
}

:not(pre) > code[class*="language-"] {
  @apply whitespace-normal rounded-md p-[0.1rem];
}

li ol {
  @apply my-0;
}

.toc-item {
  list-style: disc;
}

.toc-level-1 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0.75rem 1.25rem;
}

.toc-level-2,
.toc-level-3,
.toc-level-4,
.toc-level-5,
.toc-level-6 {
  margin-top: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@layer components {
  .root-grid {
    @apply w-screen gap-0 md:grid md:grid-cols-root;
  }

  .cust-scb {
    @apply scrollbar-thin scrollbar-track-scrollbg scrollbar-thumb-scrollaccent
    dark:scrollbar-track-scrollbgd dark:scrollbar-thumb-scrollaccentd;
  }

  .navicon {
    @apply relative my-2 mx-auto flex h-12 w-12 cursor-pointer items-center 
    justify-center rounded-3xl bg-nord-light-sb text-nord-light-text 
    shadow-md transition-all duration-300 ease-linear 
    hover:rounded-xl hover:bg-nord-light-accent hover:text-nord-light-nav dark:bg-nord-dark-bg dark:text-nord-dark-text
    dark:hover:bg-nord-dark-accent dark:hover:text-nord-dark-nav;
  }

  .navtooltip {
    @apply absolute left-14 m-2 w-auto min-w-max origin-left scale-0 rounded-md border border-nord-light-borders
    bg-nord-light-nav px-4 py-2 text-xs font-bold uppercase text-nord-light-text
    shadow-lg transition-all duration-100 dark:border-nord-dark-borders dark:bg-nord-dark-nav dark:text-nord-dark-text 
    dark:shadow-nord-dark-bg;
  }

  .nav {
    @apply sticky top-0 z-50 m-0 hidden h-screen w-16 overflow-y-clip border-r border-nord-light-borders bg-nord-light-nav
    pt-2 text-nord-light-text shadow-lg dark:border-nord-dark-borders dark:bg-nord-dark-nav dark:text-nord-dark-text
    md:flex md:flex-none md:flex-col;
  }

  .navhr {
    @apply mx-5 my-0.5 rounded-full border-2 border-nord-light-accent bg-nord-light-accent dark:border-nord-dark-accent
    dark:bg-nord-dark-accent;
  }

  .gitprofile {
    @apply mt-auto flex translate-y-16 flex-col justify-center bg-nord-light-bg align-middle 
    shadow-inner transition-all duration-300 hover:translate-y-0 dark:bg-nord-dark-bg dark:shadow-none;
  }

  .gitchevron {
    @apply relative my-2 mx-auto flex h-12 w-12 cursor-pointer items-center justify-center rounded-full 
    bg-nord-light-bg text-nord-light-text shadow-lg transition-all duration-300 
    ease-linear group-hover:translate-y-0 hover:bg-nord-light-bg hover:text-nord-light-text dark:bg-nord-dark-bg
    dark:text-nord-dark-text dark:hover:bg-nord-dark-bg dark:hover:text-nord-dark-text;
  }

  .sidebar {
    @apply md:cust-scb sticky top-0 z-0 hidden h-screen w-80 items-center justify-start overflow-y-auto border-r 
    border-nord-light-borders bg-nord-light-sb dark:border-nord-dark-borders dark:bg-nord-dark-sb md:flex md:flex-col;
  }

  .sidebar-section {
    @apply w-full border-b border-nord-light-borders bg-nord-light-sb px-5 py-3 text-nord-light-text outline-none
    dark:border-nord-dark-borders dark:bg-nord-dark-sb dark:text-nord-dark-text;
  }

  .selectable-section {
    @apply transition-all duration-300 ease-linear active:bg-nord-light-rip hover:bg-nord-light-nav
    dark:active:bg-nord-dark-rip dark:hover:bg-nord-dark-nav;
  }

  .tagsbs {
    @apply w-full;
  }

  .tagsb {
    @apply mr-2 mb-1 inline-block rounded-md bg-nord-light-borders px-1 py-0.5 text-xs dark:bg-nord-dark-borders;
  }

  .card-section .tagsbs {
    @apply px-5 py-3;
  }

  .card-section p {
    @apply pb-0 !important;
  }

  .card-section p + p {
    @apply pt-0;
  }

  .postcard {
    @apply my-10 w-full rounded-md border border-nord-light-borders bg-nord-light-sb text-nord-light-text
    dark:border-nord-dark-borders dark:bg-nord-dark-sb dark:text-nord-dark-text;
  }

  .postcard p {
    @apply px-5 py-3;
  }

  .postcard + .postcard {
    @apply mt-0;
  }

  .sidebar-header {
    @apply sidebar-section z-10 bg-nord-light-sb text-lg font-bold uppercase dark:bg-nord-dark-sb;
  }

  #bsearch {
    @apply rounded-t-md;
  }

  #bsearch + h1 {
    @apply border-t-0;
  }

  a,
  .anchor {
    @apply break-words text-nord-light-accent transition-all duration-100 ease-linear 
    hover:text-nord-light-highlight dark:text-nord-dark-accent dark:hover:text-nord-dark-highlight;
  }

  .mainsect {
    @apply md:cust-scb box-border flex h-screen flex-col overflow-y-auto bg-hero-pattern-light 
    px-3 py-4 dark:bg-hero-pattern lg:px-16;
  }

  .footer {
    @apply w-full px-5 pb-3 pt-7 text-center text-nord-light-fttext dark:text-nord-dark-fttext;
  }

  .card-section {
    @apply rounded-md border border-nord-light-borders bg-nord-light-sb transition-all duration-300 ease-linear 
    active:bg-nord-light-rip hover:bg-nord-light-nav dark:border-nord-dark-borders dark:bg-nord-dark-sb dark:active:bg-nord-dark-rip 
    dark:hover:bg-nord-dark-nav;
  }

  .btn {
    @apply w-fit rounded-md border border-nord-light-borders bg-transparent bg-nord-light-sb px-3 py-2
    text-xs font-bold transition-all duration-300 ease-linear active:bg-nord-light-accent hover:bg-nord-light-accent
    hover:text-nord-light-bg dark:border-nord-dark-borders dark:bg-nord-dark-sb dark:active:bg-nord-dark-accent dark:hover:bg-nord-dark-accent 
    dark:hover:text-nord-dark-bg;
  }

  .bottombar {
    @apply sticky bottom-0 grid w-full grid-cols-5 items-center border-t border-nord-light-borders
    bg-nord-light-sb p-3 shadow-btmbar support-blur:bg-nord-light-sbtp support-blur:backdrop-blur-sm dark:border-nord-dark-borders dark:bg-nord-dark-sb
    dark:shadow-none support-blur:dark:bg-nord-dark-sbtp md:hidden;
  }

  .bottomitems {
    @apply flex flex-col items-center justify-center gap-1 text-xs transition-all duration-300 ease-linear;
  }

  .stt-bottom {
    @apply rounded-full bg-nord-light-accent p-3 text-nord-light-sb transition-all duration-300 ease-linear
    active:bg-nord-light-highlight hover:bg-nord-light-highlight dark:bg-nord-dark-accent dark:text-nord-dark-sb dark:active:bg-nord-dark-highlight
    dark:hover:bg-nord-dark-highlight;
  }

  .lapp-logo {
    @apply h-[250px] w-[250px] bg-hero-logo-light dark:bg-hero-logo md:h-[100px] md:w-[100px];
  }

  .scroll-cursor {
    @apply fixed bottom-6 right-6 hidden rounded-3xl border border-nord-light-borders bg-nord-light-sb
    p-3 text-nord-light-text shadow-lg transition-all duration-300 hover:rounded-xl hover:bg-nord-light-accent hover:text-nord-light-sb
    support-blur:bg-nord-light-sbtp support-blur:backdrop-blur-sm dark:border-nord-dark-borders dark:bg-nord-dark-sb
    dark:text-nord-dark-text dark:shadow-none dark:hover:bg-nord-dark-accent dark:hover:text-nord-dark-sb support-blur:dark:bg-nord-dark-sbtp md:block;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    @apply text-token-light-comment dark:text-token-dark-comment;
  }

  .token.punctuation {
    @apply text-token-light-defaultacc dark:text-token-dark-defaultacc;
  }

  .namespace {
    @apply opacity-70;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    @apply text-token-light-defaultacc dark:text-token-dark-defaultacc;
  }

  .token.number {
    @apply text-token-light-num dark:text-token-dark-num;
  }

  .token.boolean {
    @apply text-token-light-defaultacc dark:text-token-dark-defaultacc;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    @apply text-token-light-selector dark:text-token-dark-selector;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    @apply text-token-light-defaultacc dark:text-token-dark-defaultacc;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    @apply text-token-light-function dark:text-token-dark-function;
  }

  .token.keyword {
    @apply text-token-light-defaultacc dark:text-token-dark-defaultacc;
  }

  .token.regex,
  .token.important {
    @apply text-token-light-important dark:text-token-dark-important;
  }

  .token.important,
  .token.bold {
    @apply font-bold;
  }

  .token.italic {
    @apply italic;
  }

  .token.entity {
    @apply cursor-help;
  }
}
