@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  @apply bg-bgdark text-textnav;
}

@layer components {
  .root-grid {
    @apply w-screen grid grid-cols-root;
  }

  .cust-scb {
    @apply scrollbar-thin scrollbar-track-bgdark scrollbar-thumb-accent;
  }

  .navicon {
    @apply relative flex items-center justify-center h-12 w-12 my-2 mx-auto 
    bg-bgdark text-textnav hover:bg-accent hover:text-navdark 
    hover:rounded-xl rounded-3xl transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
  }

  .navtooltip {
    @apply absolute w-auto px-4 py-2 m-2 min-w-max left-14 rounded-md shadow-lg shadow-bgdark
    text-white bg-navdark text-xs font-bold transition-all
    duration-100 scale-0 origin-left uppercase border border-borders;
  }

  .nav {
    @apply sticky top-0 z-50 overflow-y-clip h-screen w-16 m-0 flex flex-none flex-col bg-navdark
    text-textnav shadow-lg pt-2 border-r border-borders;
  }

  .navhr {
    @apply bg-accent border-2 border-accent rounded-full mx-5 my-0.5;
  }

  .gitprofile {
    @apply mt-auto flex flex-col justify-center align-middle translate-y-16 hover:translate-y-0 
    transition-all duration-300 bg-bgdark;
  }

  .gitchevron {
    @apply relative flex items-center justify-center h-12 w-12 my-2 mx-auto bg-bgdark text-textnav 
    group-hover:translate-y-0 hover:bg-bgdark hover:text-textnav transition-all duration-300 
    ease-linear cursor-pointer shadow-lg;
  }

  .sidebar {
    @apply sticky hidden top-0 w-80 h-screen bg-sbdark z-0 overflow-y-auto md:flex md:flex-col 
    items-center justify-start border-r border-borders md:cust-scb;
  }

  .sidebar-section {
    @apply px-5 py-3 border-b bg-sbdark border-borders w-full outline-none;
  }

  .selectable-section {
    @apply hover:bg-navdark active:bg-ripdark transition-all duration-300 ease-linear;
  }

  .tagsbs {
    @apply w-full;
  }

  .tagsb {
    @apply inline-block text-xs px-1 py-0.5 mr-2 mb-1 bg-borders rounded-md;
  }

  .card-section .tagsbs {
    @apply px-5 py-3;
  }

  .card-section p {
    @apply pb-0 !important;
  }

  .card-section p + p {
    @apply pt-0;
  }

  .postcard {
    @apply w-full my-10 bg-sbdark rounded-md border border-borders text-textnav;
  }

  .postcard p {
    @apply px-5 py-3;
  }

  .postcard + .postcard {
    @apply mt-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply sidebar-section font-bold border-t first:border-t-0 last:border-b-0;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4,
  h5,
  h6 {
    @apply text-base;
  }

  a {
    @apply text-accent hover:text-yellnord transition-all duration-100 ease-linear;
  }

  code {
    @apply text-sm text-yellnord;
  }

  strong,
  b {
    @apply font-bold;
  }

  ol {
    @apply list-decimal px-5 mx-5 my-3;
  }

  ul {
    @apply list-disc px-5 mx-5 my-3;
  }

  p + ol {
    @apply my-0 mb-3;
  }

  .mainsect {
    @apply h-screen box-border flex flex-col overflow-y-auto px-3 lg:px-16 py-4 md:cust-scb bg-hero-pattern;
  }

  img[alt$="-img"] {
    @apply w-full md:max-w-[1080px] h-auto rounded-md block md:mx-auto;
  }

  blockquote {
    @apply border-l-8 border-l-accent bg-bgdark;
  }

  hr {
    @apply border-[0.5px] border-borders;
  }

  .footer {
    @apply w-full text-center text-fttext pb-3 pt-7 px-5;
  }

  .card-section {
    @apply border border-borders rounded-md bg-sbdark hover:bg-navdark
    active:bg-ripdark transition-all duration-300 ease-linear;
  }

  .btn {
    @apply bg-transparent border border-borders rounded-md bg-sbdark hover:bg-accent
    hover:text-bgdark active:bg-accent transition-all duration-300 ease-linear px-3 py-2
    text-xs w-fit font-bold;
  }
}

/* Everything listed below won't work with Tailwind stylings */
.toc-item {
  list-style: disc;
}

.toc-level-1 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0.75rem 1.25rem;
}

.toc-level-2,
.toc-level-3,
.toc-level-4,
.toc-level-5,
.toc-level-6 {
  margin-top: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: "Source Code Pro", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"],
pre {
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  margin: 1.25rem;
  overflow: auto;
  border-radius: 0.375rem;
  border: solid 1px #434c5e;
}

p + pre,
ol + pre,
ul + pre,
p + pre[class*="language-"],
ol + pre[class*="language-"],
ul + pre[class*="language-"] {
  margin: 0.75rem 1.25rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"],
pre {
  background: #232731;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1rem;
  border-radius: 0.3rem;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}

.token.punctuation {
  color: #81a1c1;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #81a1c1;
}

.token.number {
  color: #b48ead;
}

.token.boolean {
  color: #81a1c1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a3be8c;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #81a1c1;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #88c0d0;
}

.token.keyword {
  color: #81a1c1;
}

.token.regex,
.token.important {
  color: #ebcb8b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
