head {
    background-color: #202020;
}

body {
    background-color: #202020;
    padding-left: 15px;
    padding-right: 15px;
}

#title {
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    color: white;
}

#text {
    font-family: monospace;
    font-size: 12px;
    color: white;
}

#text-center {
    font-family: monospace;
    font-size: 12px;
    color: white;
    text-align: center;
}

#cmdtext {
    font-family: monospace;
    font-size: 12px;
    color: #00dbff;
}

#cmdtext-center {
    font-family: monospace;
    font-size: 12px;
    color: #00dbff;
    text-align: center;
}